/* media querys */
/* for tablets */
@media screen and (max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar{
        overflow: visible;
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        /* background-color: #262626; */
        background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border: none;
    }

    .navbar li{
        margin: 16px 0;
    }

    .navbar.active{
        left: 0;
    }
}
.container{
    display: block;
    margin-inline: auto;
    width: 50%;
}
.text-center{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.weight-center{
    text-align: center;
    font-size: large;
    font-weight: 200;
    margin-top: 10px;
}


/* for cellphones */
@media screen and (max-width: 480px){
    .burger-nav{
        display: block;
        height: 40px;
        width: 100%;
        background: url(images/burger-nav.png) no-repeat center/50px 50px;
        cursor: pointer;
    }
    .navbar{
        overflow: hidden;
        background: rgb(55, 55, 55);
        margin-top: 5px;
        margin-bottom: -15px;
        width: 100%;
        height: 0;
    }
    .navbar.open{
        height: auto;
    }
    .navbar li{
        text-align: left;
        width: 100%;
        margin: 0;
    }
    .navbar li a{
        color: white;
        padding: 8px;
        border-bottom: 1px solid #333;
        display: block;
        margin: 0;
    }
}